@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .label {
    @apply text-[10px] font-medium uppercase text-secondary;
  }

  .h1 {
    @apply text-2xl font-semibold text-primary;
  }

  .input {
    @apply box-border flex-1 text-sm bg-transparent border-solid text-primary max-h-10 focus:outline-none;
  }

  .placeholder {
    @apply placeholder:font-normal placeholder:text-secondary
  }

  .signUpButton {
    @apply w-full p-3 text-sm uppercase text-white bg-primary disabled:text-disabledTextGray disabled:bg-disabledBgGray disabled:cursor-not-allowed
  }
  .signInButton {
    @apply w-full px-6 text-sm text-black bg-transparent border border-primary font-medium  disabled:text-disabledTextGray disabled:bg-disabledBgGray disabled:cursor-not-allowed
  }

  input:focus+div>div {
    width: 100%;
    background-color: #242424;
  }




  .css-bo17 {
    background-color: transparent;
    border: none;
    color: rgb(14, 14, 14);
    flex: 1 1 0%;
    font-family: Clarkson, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 22px;
    padding: 0px;
    text-align: left;
    caret-color: black;
  }

}